<section>
  <div class="container d-flex justify-content-center">
    <div class="row">
      <h2>Your Workouts</h2>
    </div>
  </div>
  <div class="container d-flex justify-content-center">
    <div class="row">
      <button id="edit-btn" class="btn btn-success"><a href="/edit-workouts">Create a workout</a></button><br>
    </div>
  </div>
  <br>

  <div style="padding-left: 150px; padding-right: 150px;">
    <table class="table table-striped table-hover">
      <thead style="background-color: rgb(6, 137, 6);">
        <tr>
          <th scope="col" style="color: white;">Type</th>
          <th scope="col" style="color: white;">Duration</th>
          <th scope="col" style="color: white;">Calories Burned</th>
          <th scope="col" style="color: white;">Calories Consumed</th>
          <th scope="col" style="color: white;">Current Weight</th>
        </tr>
      </thead>
      <tbody>
        {{#each workouts as |workout|}}
        <tr>
          <td>{{exercise_type}}</td>
          <td>{{exercise_duration}} min.</td>
          <td>{{calories_burned}}</td>
          <td>{{calories_consumed}}</td>
          <td>{{current_weight}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  </div>
</section>
</div>
</div>

</div>
<div class="container">
  <div class="col-sm-4">
    <div class="well">

    </div>
    <div class="well">
    </div>

  </div>
</div>
</div>
​
<div class="container text-center">
  <h3>Latest Blog Posts</h3>
  <button id="edit-btn" class="btn btn-success"><a href="/edit-blogs">Create a blog</a></button>
  <button id="edit-btn" class="btn btn-success"><a href="/edit-blogs">Edit a blog</a></button>
  <button id="edit-btn" class="btn btn-success"><a href="/view-blogs">View all blogs</a></button><br>
  ​
</div>
<div style="padding-left: 100px; padding-right:100px">
  <div class="container d-flex">
    <div class="row d-flex"></div>
    {{#each blogs as |blog|}}

    <div class="col d-flex">

      <div class="card" style="max-width: 300px ; min-width: 300px;">
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <p class="card-text">{{format_blog2 blog_post}}</p>
          <p>{{comments.length}} {{format_plural "comment" comments.length}}</p>
          <a href="/view-blogs/{{id}}" class="btn btn-success">Read Blog</a>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>
